
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
  
*{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.btn-primary{
    border-radius: 40px;
    background: #E02C6D;
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
}
.fa-solid {
    margin-left: 10px;
}
header{
    margin: 85px 120px 0 120px;
    background: #FFF;
}
.nav-section{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;   
}

.nav-content ul{
    display: flex;
    
}
.list-item li{
    list-style: none;
}
.nav-content ul li a{
    text-decoration: none;
    margin-right: 34px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.influencer-container{
    display: flex;
}
.influencer-content{
    
    margin-top: 145px;
}
.influencer-content h3{
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 600;
}
.camera-img{
    margin-top: 82px;
    margin-left: 120px;
}
.camera-img img{
width: 100%;
    
}

/* Advertise styles */
.addvertise-container{
    margin: 100px 125px 0 125px;
    
}
.addvertise-container .add-img{
    padding: 30px;
}



/* Responsive section */
/* Mobile Device */
@media screen and (max-width:576px) {
    .nav-section{
        flex-direction: column;
        align-items: center;
    }
    .header{
        margin-top: 85px;       
    }
    .nav-content ul li a{
        margin-right: 17px;
    }
    .influencer-container{
        flex-direction: column-reverse;
    }
    .camera-img{
        margin-left: 0;
        margin-top: 50px;
    }
    
}

/* tablet device */
@media screen and (min-width:576px) and (max-width:750px) {
    .nav-section{
        flex-direction: column;
    }
    .influencer-container{
        flex-direction: column-reverse;
    }
}
